{% extends "entities/DefaultEntityUI.html" %}

{% block page_header %}<h1>{{ entity.name }} {{ entity.surname }} <small>{{entityLabel}}</small></h1>{% endblock %}

{% block this_page_js %}
    {{ parent() }}
	 <script src="{{constant('BASE_URL')}}/public/js/customClientPerformance.js"></script>
	 <script src="{{constant('BASE_URL')}}/public/js/customClient.js"></script>
	 <script>
        var group = $.parseJSON('{{ payments | json_encode() | raw }}');
        var rates = $.parseJSON('{{ rates | json_encode() | raw }}');
        var performancetypes = $.parseJSON('{{ performancetypes | json_encode() | raw }}');
        var payments = $.parseJSON('{{ payments | json_encode() | raw }}');
        var paymentformulas = $.parseJSON('{{ paymentformulas | json_encode() | raw }}');
        var paymentforms = $.parseJSON('{{ paymentforms | json_encode() | raw }}');
        var paymentstates = $.parseJSON('{{ paymentstates | json_encode() | raw }}');
     </script>
{% endblock %}

{% block styleSelector %}
<div class="style-main-title">
	Contenuti copiati
</div>
<div class="input-box" id="PTCopiedCnt">
</div>
{% endblock %}

{% block this_page_init_js %}
    {#{ parent() }#}
    $('.deleteEntityFromList').click(function() {
                var r = confirm("Sei sicuro di voler rimuovere questa entità?");
                if (r == true)
                  {
                    var t = $(this);
                    var url = t.data('deleteurl');
                  
                  $.ajax({
                      type: "POST",
                      url: url,
                      data: { _METHOD: "DELETE" },
                      success: function(data){
                        t.parents('tr').remove();
                      }
                    });
                  }
            });
            
    DefaultEntity.init(entitiesConfiguration.{{ entityConfiguration.entityName }});

    
    UIModals.init();
            
    CustomClient.init();
    //PerformanceCustom.init(); // fnDrawCallback
{% endblock %}

{% block admin_content %}
    {# -------------------------------------- PANNELLO ENTITA -------------------------------------- #}
    {% import "macro/entityForm.html" as entityForm %}
    {% if entityConfiguration is defined %}
        {% set fields = entityConfiguration.fields %}
        <div class="row">
            <div class="col-md-6">
            {% embed 'components/co/panel.html' %}
                {% block panelHeadingIcon %}
                    {% set iconClass = 'fa fa-list-alt' %}
                    {% if entityConfiguration.viewParameter.iconClass is defined %}
                        {% set iconClass = entityConfiguration.viewParameter.iconClass %}
                    {% endif %}
                    <i class="{{ iconClass }}"></i>
                {% endblock %}
                {% block panelClose %}{% endblock %}
        		{% block panelHeadingText %}Dati {{ entityConfiguration.singular_label|replace({"_": " "})|capitalize }}{% endblock %}
                {% block body %}
                    {{ entityForm.form(entityConfiguration,entity,ED) }}
                {% endblock %}
            {% endembed %}
            </div>
            
            <div class="col-md-6">
            
            {# -------------------------------------- ANAMNESI -------------------------------------- #}
            
            {% embed 'components/co/panel.html' %}
            {% block panelHeadingIcon %}<i class="{{ entitiesConfiguration.anamnesis.viewParameter.iconClass }}"></i>{% endblock %}
    		{% block panelHeadingText %}
    		    Anamnesi 
        		    {% set anchorAddEntityAttributes = ' data-toggle="modal" data-entityname="anamnesis" id="modal_ajax_demo_btn" data-url="' ~ urlFor('entityModal',{"entityName": "anamnesis"}) ~ '?ED[client_id]=' ~ entity.id ~ '"' %}
                    <a {{ anchorAddEntityAttributes | raw }}  class="ajaxModal" style="margin-bottom:8px">
                        <i class="fa fa-plus"></i> Aggiungi
                	</a>
    		{% endblock %}
    		{% block bodyClass %}panel-scroll ps-container ps-container{% endblock %}
    		{% block bodyStyle %}height:300px{% endblock %}
            {% block body %}  
                <ul class="activities"  id="anamnesisList">
                {% if anamnesis %}
                    {% for a in anamnesis %}
					<li>
						<a class="activity" href="javascript:void(0)">
						    {#<i class="clip-upload-2 circle-icon circle-green"></i>#}
							<span class="desc" style="color:#333">{{ a.value }}</span>
							<div class="time" style="top:10px;color:#888;">
								<i class="fa fa-time bigger-110"></i>
								{{ a.creation_datetime|date("m/d/Y") }}
							</div>
						</a>
					</li>
        			{% endfor %}
                {% endif %}
				</ul>
            {% endblock %}
            {% endembed %}
            
            
            {# -------------------------------------- MEMO -------------------------------------- #}
            
            {% embed 'components/co/panel.html' %}
            {% block panelHeadingIcon %}<i class="{{ entitiesConfiguration.memo.viewParameter.iconClass }}"></i>{% endblock %}
    		{% block panelHeadingText %}
    		    Memo 
    		    {% set anchorAddEntityAttributes = ' data-toggle="modal" data-entityname="memo" id="modal_ajax_demo_btn" data-url="' ~ urlFor('entityModal',{"entityName": "memo"}) ~ '?ED[client_id]=' ~ entity.id ~ '"' %}
                <a {{ anchorAddEntityAttributes | raw }}  class="ajaxModal" style="margin-bottom:8px">
                    <i class="fa fa-plus"></i> Aggiungi
            	</a>
    		{% endblock %}
    		{% block bodyClass %}panel-scroll ps-container messages{% endblock %}
    		{% block bodyStyle %}height:100px{% endblock %}
            {% block body %}  
            
                
                <ul class="todo" id="memoList">
                    {% if memo %}
                    {% for a in memo %}
    				<li>
    					<a class="todo-actions" href="javascript:void(0)">
    					    <i class="fa fa-{% if a.type == 2 %}warning" style="color:#a94442{% elseif a.type == 1 %}bullhorn" style="color:#8a6d3b{% else %}info-circle" style="color:#31708f{% endif %}"></i>
    						<span class="desc" style="opacity: 1; text-decoration: none;">{{ a.value }}</span>
    						<span class="pull-right" style="opacity: 1;color:#888;"> {{ a.creation_datetime|date("m/d/Y")  }}</span>
    					</a>
    				</li>
    			    {% endfor %}
    			    
                    {% endif %}
    			</ul>
                {% endblock %}
            {% endembed %}
                
            
                
            {# -------------------------------------- GROUP RATE -------------------------------------- #}
            
            {% if rates %}
            {% embed 'components/co/panel.html' %}
                {% block panelHeadingIcon %}<i class="fa fa-stethoscope"></i>{% endblock %}
        		{% block panelHeadingText %}Tariffe gruppo {{ group.name }}{% endblock %}
        		{% block panelClass %}panel-white{% endblock %}
        		{% block bodyClass %}panel-scroll ps-container{% endblock %}
        		{% block bodyStyle %}height:100px{% endblock %}
        		
                {% block body %}
        		{% for r in rates %}
        		<a class="btn btn-info group-rates" data-numperformance="{{ r.performance_number }}" data-amount="{{ r.amount }}" data-clientid="{{ entity.id }}" data-name="{{ r.name }}">
					{{ r.name }} {% if  r.performance_number > 1 %}{{ r.performance_number }} Trattamenti {% endif %}</i>
					| {{ r.amount }} &euro;
				</a>
        		{% endfor %}
                {% endblock %}
            {% endembed %}
            <script type="text/javascript">
            </script>
            {% endif %}
            </div>
        </div>
    {% endif %}
    
    
<a href="#paymentEntitiesTable" class="btn btn-info">
	Vai ai pagamenti
</a>
    
{% import "macro/entityDataTable.html" as entityDataTable %}
{% if entity is defined %}

{# -------------------------------------- PRESTAZIONI -------------------------------------- #}
{% set relatedEntityName = "performance" %}
{% set relatedEntityConfiguration = attribute(entitiesConfiguration,relatedEntityName) %}



{# -------------------------------------- PULSANTE AGGIUNGI ENTITA -------------------------------------- #}

{% set anchorAddEntityAttributes = 'href="' ~  urlFor('entityUI',{"entityName": relatedEntityConfiguration.entityName, "pk": "new"}) ~ '?ED[' ~ entityConfiguration.entityName ~ '_id]=' ~ entity.id ~ '" target="_' ~ relatedEntityConfiguration.entityName ~ '"' %}
{% if '_' in relatedEntityName %}
{#% set anchorAddEntityAttributes = 'href="#modalInsert' ~ relatedEntityConfiguration.singular_label ~ '" data-toggle="modal"' %#}
{% set anchorAddEntityAttributes = ' data-toggle="modal" data-entityname="' ~ relatedEntityName ~ '" id="modal_ajax_demo_btn" data-url="' ~ urlFor('entityModal',{"entityName": relatedEntityConfiguration.entityName}) ~ '?ED[' ~ entityConfiguration.entityName ~ '_id]=' ~ entity.id ~ '"' %}
{% set anchorAddEntityClass = ' ajaxModal' %}
{% endif %}
{# -------------------------------------- TABELLA ENTITA -------------------------------------- #}

{% set relatedEntities = performance %}

{% embed 'components/co/panel.html' %}
{% block panelId %}{{ entityConfiguration.entityName }}_{{ relatedEntityName }}{% endblock %}
{% block panelHeadingIcon %}
    {% set iconClass = 'fa fa-list-alt' %}
    {% if relatedEntityConfiguration.viewParameter.iconClass is defined %}
        {% set iconClass = relatedEntityConfiguration.viewParameter.iconClass %}
    {% endif %}
    <i class="{{ iconClass }}"></i>
{% endblock %}
{% block panelHeadingText %}
    {{ relatedEntityConfiguration.plural_label|replace({"_": " "})|capitalize }}
    <a {{ anchorAddEntityAttributes | raw }}  class="{{ anchorAddEntityClass }}" style="margin-bottom:8px">
        <i class="fa fa-plus"></i> Aggiungi {{ relatedEntityConfiguration.singular_label|replace({"_": " "})|capitalize }}
	</a>
	<a  id="addPerformance" style="margin-bottom:8px;margin-left:15px;">
        <i class="fa fa-plus"></i> Aggiungi {{ relatedEntityConfiguration.singular_label|replace({"_": " "})|capitalize }} dentro tabella
	</a>
{% endblock %}
{% block body %} 

	
    
    {% set EC = relatedEntityConfiguration %}
    {% set entities = relatedEntities %}
    {% set parentEntityName = entityConfiguration.entityName %}
    
    {% set fields = EC.fields %}
    {% set entityLabel = EC.singular_label|replace({"_": " "})|capitalize %}
    {% set fieldVisibleInList = [] %}
    {% set relatedFields = [] %}
    <style>
    
        #PTCopiedCnt{
            text-align:left;
        }
         #performanceEntitiesTable tr td:nth-child(2) {
            text-align:center;
        }
         #performanceEntitiesTable tr td:nth-child(7) {
            text-align:center;
        }
         #performanceEntitiesTable tr td:nth-child(6) {
            text-align:center;
        }
        
        
        #performanceEntitiesTable tr td:nth-child(4),#performanceEntitiesTable tr td:nth-child(5),#performanceEntitiesTable tr td:nth-child(3)   {
            max-width:200px;
        }
        
        #performanceEntitiesTable tr td:nth-child(4) a.editable-click,#performanceEntitiesTable tr td:nth-child(5) a.editable-click,#performanceEntitiesTable tr td:nth-child(3)  a.editable-click{
            border-bottom:none;
            color:#333;
            font-size:12px;
            line-height:1;
            display:block;
            padding:5px;
        }
        
        .sortablePT{
            list-style-type: none;
            padding: 0;
        }
        
        .sortablePT .fa,.PTCnt .fa{
            padding:0 2px;
        }
        
        .sortablePT li{
            border: 1px solid #DCDBDD;
            margin: 2px;
            padding: 2px 5px;
            background-color: #F6F5F7;
            box-sizing: border-box;
            vertical-align: top;
        }
        ul.sortable li.placeholder {
          border-style: dashed;
          background-color: transparent;
        }
        a.ptTitle{
            font-size:14px!important;
            font-weight:bold!important;
        }
        
        a.ptNote{
            font-size:12px!important;
        }
        
        .PTCnt{
            padding:4px 8px;
        }
        
        .PT.loading .PTBtn{
            display:none!important;
        }
        .PT.loading .spinner{
            display:block;
        }
        
        .spinner {
            display: none;
            width: 15px;
            height: 15px;
            position: relative;
            border: 2px solid rgba(165, 162, 162, 0.5);
            border-top-color: rgb(38, 117, 148);
            border-radius: 100%;
        
            -webkit-animation: spin 1s infinite linear;
            -moz-animation: spin 1s infinite linear;
            -ms-animation: spin 1s infinite linear;
            -o-animation: spin 1s infinite linear;
            animation: spin 1s infinite linear;
         }
        @-webkit-keyframes spin {
            to { -webkit-transform: rotate(360deg); }
        }
        
        @-moz-keyframes spin {
            to { -moz-transform: rotate(360deg); }
        }
        
        @-ms-keyframes spin {
            to { -ms-transform: rotate(360deg); }
        }
        
        @-o-keyframes spin {
            to { -o-transform: rotate(360deg); }
        }
        
        @keyframes spin {
            to { transform: rotate(360deg); }
        }
    </style>
    <table class="table table-striped table-bordered table-hover table-full-width  table-min-padding" id="{{ EC.entityName }}EntitiesTable">
		<thead>
			<tr>
			    {#% for fieldDBName,fieldData in fields  if (fieldData.visible is not defined or fieldData.visible != false) 
			        and ( fieldData.visibleInList is not defined or fieldData.visibleInList != false ) 
			        and ( 'own' not in fieldDBName ) 
			        and  fieldDBName != (parentEntityName ~ '_id')
			        %}
			    
			        {% set colHeader = fieldDBName|replace({"_": " "})|capitalize %}
				    {% if fieldData.label is defined %}
				        {% set colHeader = fieldData.label|replace({"_": " "})|capitalize %}
				    {% endif %}
			    
    			    {% if '_id' in fieldDBName %}
				        {% set fieldVisibleInList = fieldVisibleInList|merge([(fieldDBName|replace({"_id": ""}))]) %}
        			{% else %}
				        {% set fieldVisibleInList = fieldVisibleInList|merge([fieldDBName]) %}
        			{% endif %#}
				    
					<th id="performanceid">Id</th>
					<th id="performancedatetime">Data</th>
					<th id="performancepre_note">Bilancio PRE</th>
					<th id="performanceprestazioni">Prestazioni</th>
					<th id="performancepost_note">Bilancio POST</th>
					<th id="performanceduration">Durata</th>
					<th id="performanceexecuted">Eseguita</th>
					<th id="performanceduration">Pagamento</th>
				
					
                    <th></th>
			</tr>
		</thead>
	{% for relatedEntity in entities %}
        <tr>
    		<td>
		        {% if relatedEntity.id is defined %}
		            {{ relatedEntity.id  }}
		        {% endif %}
		    </td>
    		<td>
    		    <a href="#" data-min-year="2012" data-smart-days="true" data-emptytext="Vuoto" class="performanceEditable "{# {{ EC.datetime.defaultValue }} #} data-type="combodate" data-pk="{{ relatedEntity.id  }}" data-name="datetime" date-format="DD/MM/YYYY" data-template="DD/MM/YYYY" data-viewformat="DD/MM/YYYY" data-original-title="Inserisci Data">
		        {% if relatedEntity.datetime %}
		            {{ relatedEntity.datetime|date("d/m/Y") }}
		        {% endif %}
		        </a>
		    </td>
    		<td>
    		    <a href="#" data-emptytext="Vuoto" class="performanceEditable" data-type="textarea" data-pk="{{ relatedEntity.id  }}" data-name="pre_note" data-original-title="Inserisci Bilancio pre">{% if relatedEntity.pre_note is defined %}{{ relatedEntity.pre_note }}		        {% endif %}</a>
		    </td>
    		<td data-id="{{relatedEntity.id}}">
		        {% if performancePT[relatedEntity.id] %}    		    
		            <ul class="sortable sortablePT">
		            {% for pt in performancePT[relatedEntity.id]  %}
						<li data-position="{{pt.position}}"  data-id="{{pt.id}}">
    						<a href="#" data-emptytext="Vuoto" {% if pt.performancetype_id is defined %}data-value="{{ pt.performancetype_id }}"{% endif %} data-source="{{constant('BASE_URL')}}/resources/xeditable/select/performancetype" class="performancePTEditable ptTitle" id="performance_performancelocation_id" data-type="select" data-pk="{{ pt.id  }}"  data-name="performancetype_id">{% if pt.performancetype_id is defined %}{{ performancetypes[pt.performancetype_id] }}{% endif %}</a>
    						<a href="#" data-emptytext="Vuoto" class="performancePTEditable ptNote" data-type="textarea" data-pk="{{ pt.id  }}" data-name="note">{% if pt.note is defined %}{{ pt.note }}{% endif %}</a>
		                </li>
		            {% endfor %}
		            </ul>
		        {% endif %}
		    </td>
    		<td>
		        <a href="#" data-emptytext="Vuoto" class="performanceEditable" data-type="textarea" data-pk="{{ relatedEntity.id  }}" data-name="post_note" data-original-title="Inserisci Bilancio pre">{% if relatedEntity.post_note is defined %}{{ relatedEntity.post_note }}{% endif %}</a>
		    </td>
    		<td>
		        <a href="#" class="performanceEditable"   data-emptytext="Vuoto" data-type="number"  data-pk="{{ relatedEntity.id  }}" data-name="duration" data-original-title="Inserisci durata">
		        {% if relatedEntity.duration is defined %}
		            {{ relatedEntity.duration }}
		        {% endif %}
		        </a>
		    </td>
    		<td>
    		
    		    <a href="#" data-emptytext="Vuoto" data-value="{{relatedEntity.executed}}" data-source="[{'text':'Si','value':1},{'text':'No','value':0}]" class="performanceEditable" id="performance_executed" data-type="select" data-pk="{{ relatedEntity.id  }}"  data-name="executed" data-original-title="Inserisci Eseguita"></a>

		    </td>
    		<td>
    		    <a href="#" data-emptytext="Vuoto" data-value="{{relatedEntity.payment_id}}" data-source="{{constant('BASE_URL')}}/resources/performancepaymentlist/{{relatedEntity.client_id}}{% if relatedEntity.payment_id%}/{{relatedEntity.payment_id}}{% endif %}" class="performanceEditable" id="performance_payment_id" data-type="select" data-pk="{{ relatedEntity.id  }}" data-name="payment_id" data-original-title="Inserisci Pagamento"></a>
		        {#% if relatedEntity.payment_id is defined %}
		            {% if payments[relatedEntity.payment_id] is defined %}
                        {% set p = payments[relatedEntity.payment_id] %}
                        
                        {{p.name}} - 
                        Pagato: {% if p.paymentstate_id == 1 %}
    			            Si
    			        {% else %}
    			            Non saldato
    			        {% endif %} - 
    			        Importo : {{ p.amount }} &euro;
    			        {% if totalNumOfPerformance[p.id] > 1 %}
    			            - 
    			            {{ performanceNUmber[relatedEntity.id] }} di {{ totalNumOfPerformance[p.id] }}
    			        {% endif %}
			        {% endif %}
		        {% endif %#}
		    </td>
		    
		    
		    <td>
			    <a href="{{ urlFor('entityUI', {"entityName": EC.entityName, "pk": relatedEntity.id }) }}" target="_BLANK"  class="btn btn-default"><i class="clip-pencil-3"></i></a>
			    <button  class="btn btn-bricky deleteEntityFromList" data-deleteurl="{{ urlFor('entityResource',{"entityName": EC.entityName, "pk": relatedEntity.id}) }}"><i class="fa fa-trash-o fa-white"></i></button>
    			
		    </td>
		</tr>
    {% endfor %}
	</table>

{% endblock %}
{% endembed %}

<h2>Report pagamenti & prestazioni</h2>
<table class="table table-condensed table-bordered table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Pagato</th>
          <th>N. pagamenti effettuati</th>
          <th>Non pagato</th>
          <th>N. pagamenti non effettuati</th>
          <th>N. prestazioni</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Anno corrente</td>
          <td>&euro; {{ statData.this_year.payed }}</td>
          <td>{{ statData.this_year.payed_number }}</td>
          <td>&euro; {{ statData.this_year.not_payed }}</td>
          <td>{{ statData.this_year.not_payed_number }}</td>
          <td>{{ statData.this_year.performance_number }}</td>
        </tr>
        <tr>
          <td>Ultimi 365 gg.</td>
          <td>&euro; {{ statData.last_365.payed }}</td>
          <td>{{ statData.last_365.payed_number }}</td>
          <td>&euro; {{ statData.last_365.not_payed }}</td>
          <td>{{ statData.last_365.not_payed_number }}</td>
          <td>{{ statData.last_365.performance_number }}</td>
        </tr>
        <tr>
          <td>Da sempre</td>
          <td>&euro; {{ statData.all.payed }}</td>
          <td>{{ statData.all.payed_number }}</td>
          <td>&euro; {{ statData.all.not_payed }}</td>
          <td>{{ statData.all.not_payed_number }}</td>
          <td>{{ statData.all.performance_number }}</td>
        </tr>
      </tbody>
    </table>
    <br><br><br>

{# -------------------------------------- PAGAMENTI -------------------------------------- #}
{% set relatedEntityName = "payment" %}
{% set relatedEntityConfiguration = attribute(entitiesConfiguration,relatedEntityName) %}



{# -------------------------------------- PULSANTE AGGIUNGI ENTITA -------------------------------------- #}

{% set anchorAddEntityAttributes = 'href="' ~  urlFor('entityUI',{"entityName": relatedEntityConfiguration.entityName, "pk": "new"}) ~ '?ED[' ~ entityConfiguration.entityName ~ '_id]=' ~ entity.id ~ '" target="_BLANK"' %}
{% if '_' in relatedEntityName %}
{#% set anchorAddEntityAttributes = 'href="#modalInsert' ~ relatedEntityConfiguration.singular_label ~ '" data-toggle="modal"' %#}
{% set anchorAddEntityAttributes = ' data-toggle="modal" data-entityname="' ~ relatedEntityName ~ '" id="modal_ajax_demo_btn" data-url="' ~ urlFor('entityModal',{"entityName": relatedEntityConfiguration.entityName}) ~ '?ED[' ~ entityConfiguration.entityName ~ '_id]=' ~ entity.id ~ '"' %}
{% set anchorAddEntityClass = ' ajaxModal' %}
{% endif %}
{# -------------------------------------- TABELLA ENTITA -------------------------------------- #}

{% set relatedEntities = payments %}

{% embed 'components/co/panel.html' %}
{% block panelId %}{{ entityConfiguration.entityName }}_{{ relatedEntityName }}{% endblock %}
{% block panelHeadingIcon %}
    {% set iconClass = 'fa fa-list-alt' %}
    {% if relatedEntityConfiguration.viewParameter.iconClass is defined %}
        {% set iconClass = relatedEntityConfiguration.viewParameter.iconClass %}
    {% endif %}
    <i class="{{ iconClass }}"></i>
{% endblock %}
{% block panelHeadingText %}
    {{ relatedEntityConfiguration.plural_label|replace({"_": " "})|capitalize }}
    <a {{ anchorAddEntityAttributes | raw }}  class="{{ anchorAddEntityClass }}" style="margin-bottom:8px">
        <i class="fa fa-plus"></i> Aggiungi {{ relatedEntityConfiguration.singular_label|replace({"_": " "})|capitalize }}
	</a>
	<a  id="addPayment" style="margin-bottom:8px;margin-left:15px;">
        <i class="fa fa-plus"></i> Aggiungi {{ relatedEntityConfiguration.singular_label|replace({"_": " "})|capitalize }} dentro tabella
	</a>
{% endblock %}
{% block body %} 

	
    
    {% set EC = relatedEntityConfiguration %}
    {% set entities = relatedEntities %}
    {% set parentEntityName = entityConfiguration.entityName %}
    
    {% set fields = EC.fields %}
    {% set entityLabel = EC.singular_label|replace({"_": " "})|capitalize %}
    {% set fieldVisibleInList = [] %}
    {% set relatedFields = [] %}

    <style>
         #paymentEntitiesTable tr td:nth-child(1) {
            text-align:center;
        }
         #paymentEntitiesTable tr td:nth-child(3) {
            text-align:center;
        }
         #paymentEntitiesTable tr td:nth-child(5) {
            text-align:center;
        }
         #paymentEntitiesTable tr td:nth-child(6) {
            text-align:center;
        }
         #paymentEntitiesTable tr td:nth-child(4) {
            text-align:center;
        }
         #paymentEntitiesTable tr td:nth-child(7) {
            text-align:center;
        }
    </style>
    <table class="table table-striped table-bordered table-hover table-full-width  table-min-padding" id="{{ EC.entityName }}EntitiesTable">
		<thead>
			<tr>
			    {#% for fieldDBName,fieldData in fields  if (fieldData.visible is not defined or fieldData.visible != false) 
			        and ( fieldData.visibleInList is not defined or fieldData.visibleInList != false ) 
			        and ( 'own' not in fieldDBName ) 
			        and  fieldDBName != (parentEntityName ~ '_id')
			        %}
			    
			        {% set colHeader = fieldDBName|replace({"_": " "})|capitalize %}
				    {% if fieldData.label is defined %}
				        {% set colHeader = fieldData.label|replace({"_": " "})|capitalize %}
				    {% endif %}
			    
    			    {% if '_id' in fieldDBName %}
				        {% set fieldVisibleInList = fieldVisibleInList|merge([(fieldDBName|replace({"_id": ""}))]) %}
        			{% else %}
				        {% set fieldVisibleInList = fieldVisibleInList|merge([fieldDBName]) %}
        			{% endif %#}
				    
					<th id="paymentid">Id</th>
					<th id="paymentname">Nome</th>
					<th id="paymentamount">Importo</th>
					<th id="paymentpaymentstate_id">Riscosso</th>
					<th id="paymentcollection_date">Data incasso</th>
					{#<th id="paymentcreation_datetime">Data creazione</th>
					<th id="paymentupdate_datetime">Data aggiornamento</th>#}
					<th id="paymentgroup">Gruppo</th>
					<th id="paymentpaymentformula_id">Formula di pagamento</th>
					<th id="paymentpaymentform_id">Forma di pagamento</th>
                    <th></th>
			</tr>
		</thead>
	{% for relatedEntity in entities %}
        <tr>
    		<td>{% if relatedEntity.id is defined %}{{ relatedEntity.id  }}{% endif %}</td>
    		<td>
    		    <a href="#" data-emptytext="Vuoto" class="paymentEditable" data-type="text" data-pk="{{ relatedEntity.id  }}" data-name="name">{% if relatedEntity.name is defined %}{{ relatedEntity.name }}{% endif %}</a>
		    </td>
    		<td>
    		    <a href="#" data-emptytext="Vuoto" class="paymentEditable" data-type="number" data-pk="{{ relatedEntity.id  }}" data-name="amount">{% if relatedEntity.amount is defined %}{{ relatedEntity.amount }}{% endif %}</a>
		    </td>
    		<td>
    		    <a href="#" data-emptytext="Vuoto" data-value="{{ relatedEntity.paymentstate_id  }}" data-source="[{'text':'Si','value':1},{'text':'No','value':2}]" class="paymentEditable" data-type="select" data-pk="{{ relatedEntity.id  }}" data-name="paymentstate_id"></a>
		    </td>
    		<td>
    		    <a href="#" data-min-year="2012" data-smart-days="true" data-emptytext="Vuoto" class="paymentEditable" data-type="combodate" date-format="DD/MM/YYYY" data-template="DD/MM/YYYY" data-viewformat="DD/MM/YYYY" data-pk="{{ relatedEntity.id  }}" data-name="collection_date">
		        {% if relatedEntity.collection_date %}
		            {{ relatedEntity.collection_date|date("d/m/Y") }}
		        {% endif %}
		        </a>
		    </td>
    		<td>
		        {% if relatedEntity.paymentgroup_nominal_number_of_performance > 1 %}
		            Gruppo di {{ relatedEntity.paymentgroup_nominal_number_of_performance }} prestazioni.
		            Valido dal {{ relatedEntity.paymentgroup_nominal_start_datetime|date("m/d/Y") }} al {{ relatedEntity.paymentgroup_nominal_end_datetime|date("m/d/Y") }}
		        {% endif %}
		    </td>
    		<td>
    		    <a href="#" data-emptytext="Vuoto" data-value="{{ relatedEntity.paymentformula_id  }}" data-source="{{constant('BASE_URL')}}/resources/xeditable/select/paymentformula" class="paymentEditable" data-type="select" data-pk="{{ relatedEntity.id  }}"></a>
		    </td>
    		<td>
        		<a href="#" data-emptytext="Vuoto" data-value="{{ relatedEntity.paymentform_id  }}" data-source="{{constant('BASE_URL')}}/resources/xeditable/select/paymentform" class="paymentEditable"  data-type="select" data-pk="{{ relatedEntity.id  }}" data-name="paymentform_id"></a>
		    </td>
		    
		    
		    <td>
			    <a href="{{ urlFor('entityUI', {"entityName": EC.entityName, "pk": relatedEntity.id }) }}" target="_BLANK"  class="btn btn-default"><i class="clip-pencil-3"></i></a>
			    <button  class="btn btn-bricky deleteEntityFromList" data-deleteurl="{{ urlFor('entityResource',{"entityName": EC.entityName, "pk": relatedEntity.id}) }}"><i class="fa fa-trash-o fa-white"></i></button>
    				    
		    </td>
		</tr>
    {% endfor %}
	</table>

{% endblock %}
{% endembed %}

{% endif %}
    
<div id="ajax-modal" class="modal fade" tabindex="-1" style="display: none;"></div>
{% endblock %}
     
